<ion-header>
    <ion-toolbar>
        <ion-title>Puzzle</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="board" [class.over]="over">
        <div *ngFor="let piece of pieces;" draggable="false">
            <img [src]="piece.path" [id]="piece.index" draggable="true" (dragstart)="onDrag($event)" (drop)="onDrop($event)" (dragover)="onDragOver($event)" [class.placed]="!piece.misplaced">
        </div>
    </div>
</ion-content>