.container {
    padding: 5%;
}

h3 {
    text-align: center;
}

.irudia {
    margin: 0 auto;
}

img {
    margin: auto;
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

p {
    text-align: left;
    text-justify: inter-word;
}