<ion-header>
    <ion-toolbar>
        <ion-title>{{idKokapen}}. Gunea</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div class="irudia">
            <img src="{{kokapenBat.Irudia}}" />
        </div>
        <ion-card-header>
            <ion-card-title>{{kokapenBat.Izena}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{kokapenBat.Deskribapena}}</ion-card-content>
    </ion-card>
    <ion-button (click)="jokoaZabaldu()" class="btn">JOLASTU</ion-button>
</ion-content>