ion-menu-button {
    color: var(--ion-color-primary);
}

#container {
    text-align: center;
    margin: 20% 5% 10%;
}

.body {
    position: absolute;
    background: url('../../assets/img/zumaia.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}