<ion-header>
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="mapaZabaldu()">Mapa ikusi</ion-button>
    <ion-button (click)="memoryZabaldu()">MEMORY</ion-button>
    <ion-button (click)="puzzleZabaldu()">PUZZLE</ion-button>
    <ion-button (click)="drumZabaldu()">DRUM</ion-button>

    <ion-button (click)="infoZabaldu('1')">1</ion-button>
    <ion-button (click)="infoZabaldu('2')">2</ion-button>
    <ion-button (click)="infoZabaldu('3')">3</ion-button>
    <ion-button (click)="infoZabaldu('4')">4</ion-button>
    <ion-button (click)="infoZabaldu('5')">5</ion-button>
    <ion-button (click)="infoZabaldu('6')">6</ion-button>
    <ion-button (click)="infoZabaldu('7')">7</ion-button>
</ion-content>