<ion-content [fullscreen]="true">
    <div class="body">
        <div id="container">
            <div class="logo">
                <img src="../assets/img/logo.png">
            </div>
            <ion-button (click)="mapaZabaldu()">Mapa ikusi</ion-button><br>
            <ion-button (click)="memoryZabaldu()">MEMORY</ion-button><br>
            <ion-button (click)="puzzleZabaldu()">PUZZLE</ion-button><br>
            <ion-button (click)="drumZabaldu()">DANBORRA</ion-button><br>
            <ion-button (click)="jantziakZabaldu()">Jantziak</ion-button><br>
            <ion-button (click)="ahorcadoZabaldu()">Urkatua</ion-button><br>
            <ion-button (click)="wordSearchZabaldu()">Letra zopa</ion-button><br>

            <ion-button (click)="infoZabaldu('1')">1</ion-button>
            <ion-button (click)="infoZabaldu('2')">2</ion-button>
            <ion-button (click)="infoZabaldu('3')">3</ion-button>
            <ion-button (click)="infoZabaldu('4')">4</ion-button><br>
            <ion-button (click)="infoZabaldu('5')">5</ion-button>
            <ion-button (click)="infoZabaldu('6')">6</ion-button>
            <ion-button (click)="infoZabaldu('7')">7</ion-button>
        </div>
    </div>
</ion-content>
